{
  "info": {
    "title": "SmartHR API",
    "description": "SmartHR の各種データを操作する API です",
    "license": {
      "name": "SmartHR, Inc"
    },
    "version": "0.0.1"
  },
  "swagger": "2.0",
  "produces": [
    "application/json;charset=utf-8"
  ],
  "host": "app.smarthr.jp",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "源泉徴収",
      "description": "Operations about 源泉徴収"
    },
    {
      "name": "源泉徴収票",
      "description": "Operations about 源泉徴収票"
    },
    {
      "name": "devices",
      "description": "Operations about devices"
    },
    {
      "name": "給与",
      "description": "Operations about 給与"
    },
    {
      "name": "給与明細",
      "description": "Operations about 給与明細"
    },
    {
      "name": "従業員",
      "description": "従業員を操作します"
    },
    {
      "name": "家族情報",
      "description": "家族情報を操作します"
    },
    {
      "name": "従業員カスタム項目グループ",
      "description": "従業員カスタム項目グループを操作します"
    },
    {
      "name": "従業員カスタム項目テンプレート",
      "description": "従業員カスタム項目テンプレートを操作します"
    },
    {
      "name": "部署",
      "description": "部署を操作します"
    },
    {
      "name": "雇用形態",
      "description": "雇用形態を操作します"
    },
    {
      "name": "従業員情報収集フォーム",
      "description": "従業員情報収集フォームを操作します"
    },
    {
      "name": "メールフォーマット",
      "description": "メールフォーマットを操作します"
    },
    {
      "name": "ユーザー",
      "description": "ログインユーザーを操作します"
    },
    {
      "name": "Webhook",
      "description": "Webhook を操作します"
    },
    {
      "name": "事業所",
      "description": "事業所を操作します"
    },
    {
      "name": "口座情報",
      "description": "口座情報を操作します"
    },
    {
      "name": "給与支給形態",
      "description": "給与支給形態を操作します"
    },
    {
      "name": "役職",
      "description": "役職を操作します"
    },
    {
      "name": "続柄",
      "description": "続柄を操作します"
    }
  ],
  "paths": {
    "/v1/crews/{id}/invite": {
      "put": {
        "summary": "招待",
        "description": "指定した ID の従業員に設定されているメールアドレスでユーザを招待します。\n\n- 指定した従業員情報収集フォームに紐づくメールフォーマットで招待メールが送信されます\n- 一度招待した従業員に対する2回目以降の招待リクエストは、再招待扱いになります\n    - 従業員のメールアドレスが変わっていた場合は、招待中ユーザのメールアドレスが更新されます\n    - 招待を承認済みの従業員に対しての再招待はできません\n- 招待者のユーザには管理者権限を持つユーザを指定してください\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "従業員ID",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "inviter_user_id",
            "description": "招待者のユーザーID",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_input_form_id",
            "description": "従業員情報収集フォームID",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "putV1CrewsIdInvite"
      }
    },
    "/v1/crews/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の従業員情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "deleteV1CrewsId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の従業員情報を部分更新します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"last_name\": \"山田\",\n  \"first_name\": \"太郎\",\n  \"gender\": \"male\"\n}\n```\n\n以下の項目が入力済みの従業員に対して、**これらのいずれかを欠けさせる**更新はできません。\n- last_name\n- first_name\n- last_name_yomi\n- first_name_yomi\n- gender\n- birth_at\n- address\n\n\n**雇用形態の設定について**\n\n雇用形態データの構造変更に伴い、`emp_type` パラメータの利用は非推奨となりました。\n今後は `employment_type_id` パラメータをご利用ください。\n\nなお、`emp_type` パラメータに雇用形態種別を指定した場合は、以下のような挙動になります。\n\n- 指定した雇用形態種別を preset_type に持つ雇用形態が設定されます\n- 存在しない雇用形態種別を指定した場合はリクエストエラーとなります\n- 従業員にプリセット雇用形態以外が設定されている場合、`emp_type` パラメータではそれを null にできません\n\n**部署項目値の設定について**\n\n部署データの構造変更に伴い、`department` パラメータの利用は非推奨となりました。\n今後は `department_ids` パラメータをご利用ください。\n\nなお、`department` パラメータに部署名を指定した場合は、以下のような挙動になります。\n\n- 指定した部署名を持つ部署が存在する場合\n    - 存在する部署を設定します\n    - トップレベルにある部署のみ検索対象とします\n- 指定した部署名を持つ部署が存在しない場合\n    - その部署名で部署を新規登録し、設定します\n    - 部署の階層はトップレベルになります\n\n**口座情報について**\n\n口座情報データの構造変更に伴い、bank_accounts パラメータのオブジェクトに `bank_account_setting_id` (= 口座設定ID) の指定が可能になりました。\n\n`bank_account_setting_id` を指定した場合は、以下のような挙動になります。\n\n- `bank_account_setting_id` を含まないパラメータが混在している場合、リクエストエラーとなります\n- 存在しない `bank_account_setting_id` を指定した場合はリクエストエラーとなります\n\n`bank_account_setting_id` を指定しなかった場合は、以下のような挙動になります。\n\n- パラメータの先頭から順にデータを突合し、登録・更新を行います\n- 有効な口座設定の数を越えたパラメータが指定された場合、リクエストエラーとなります\n- `bank_account_setting_id` を含むパラメータが混在している場合、リクエストエラーとなります\n\n**カスタム項目値の設定について**\n\nカスタム項目値の設定は `custom_fields` パラメータで行います。 `value` に設定する値は、テンプレート種別に対応させてください。\n\nJSON 例\n```\n{\n  \"custom_fields\": [\n    {\n      \"template_id\": 1,\n      \"value\": \"string\"\n    },\n    {\n      \"template_id\": 2,\n      \"value\": \"text\"\n    },\n    {\n      \"template_id\": 3,\n      \"value\": 0\n    },\n    {\n      \"template_id\": 4,\n      \"value\": \"2017-03-09\"\n    },\n    {\n      \"template_id\": 5,\n      \"value\": \"enum_element_physical_name\"\n    },\n    {\n      \"template_id\": 6,\n      \"value\": \"/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AK...\",\n      \"file_name\": \"awesome_image.jpg\"\n    }\n  ]\n}\n```\n\n- ドロップダウン（type: enum）は、ドロップダウン要素の ID か、`physical_name` の設定値を使って指定します\n- ファイルは、データを Base64 エンコードした文字列を指定し、かつ `file_name` にデータの名前を拡張子付きで指定します\n- 指定した `template_id` の値がすでにある場合は、それを更新します\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1Crews",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchV1Crews"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "patchV1CrewsId"
      },
      "put": {
        "summary": "更新",
        "description": "**このエンドポイントは利用非推奨です**\n\n2020年12月16日より、従業員の更新は「部分更新（PATCH ）」のみの提供となりました。\nこのエンドポイント自体は利用可能ですが、挙動は部分更新と同等になります。\nリクエスト元の制限で PATCH メソッドが使用できないような場合に、エイリアスとしてご利用ください。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1Crews",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV1Crews"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "putV1CrewsId",
        "deprecated": true
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の従業員情報を取得します。\n\n**雇用形態の表現について**\n\n雇用形態データの構造変更に伴い、`emp_type` 項目の利用は非推奨となりました。\n今後は `employment_type` 項目をご利用ください。\n\nなお、`emp_type` 項目には、登録されている雇用形態が「プリセット雇用形態」の時のみ、その preset_type の値が入ります。出力形式は従来と変更ありません。\n\n**部署の表現について**\n\n部署データの構造変更に伴い、`department` 項目の利用は非推奨となりました。\n今後は `departments` 項目をご利用ください。\n\nなお、`department` 項目には、1番目に登録されている部署について、各階層の名称を `/` で連結した文字列が出力されます。\n\n**カスタム項目の表現について**\n\n`custom_fields` に含まれるカスタム項目設定値は、テンプレート種別によって形式が変わります。\n\n- テキスト（1行）（type: string）\n    - String 型\n- テキスト（複数行）（type: text）\n    - String 型\n- 数値（type: decimal）\n    - Integer 型\n- 日付（type: date）\n    - `yyyy-MM-dd` 形式の String 型\n- ドロップダウン（type: enum）\n    - ドロップダウン要素の ID（String 型）\n    - ドロップダウン要素に `physical_name` が設定されている場合は、その値（String 型）\n- ファイル（type: file）\n    - アップロードしたファイルへの期限付き URL（String 型）\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "従業員ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "getV1CrewsId"
      }
    },
    "/v1/crews": {
      "post": {
        "summary": "登録",
        "description": "従業員情報を新規登録します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"last_name\": \"山田\",\n  \"first_name\": \"太郎\",\n  \"gender\": \"male\"\n}\n```\n\n新規登録に際して、特に必須項目はありません。\n\nレスポンスヘッダの `Location` には **SmartHR 上でのエンドポイント URL** が含まれます。\n\n**雇用形態の設定について**\n\n雇用形態データの構造変更に伴い、`emp_type` パラメータの利用は非推奨となりました。\n今後は `employment_type_id` パラメータをご利用ください。\n\nなお、`emp_type` パラメータに雇用形態種別を指定した場合は、以下のような挙動になります。\n\n- 指定した雇用形態種別を preset_type に持つ雇用形態が設定されます\n- 存在しない雇用形態種別を指定した場合はリクエストエラーとなります\n\n**部署項目値の設定について**\n\n部署データの構造変更に伴い、`department` パラメータの利用は非推奨となりました。\n今後は `department_ids` パラメータをご利用ください。\n\nなお、`department` パラメータに部署名を指定した場合は、以下のような挙動になります。\n\n- 指定した部署名を持つ部署が存在する場合\n    - 存在する部署を設定します\n    - トップレベルにある部署のみ検索対象とします\n- 指定した部署名を持つ部署が存在しない場合\n    - その部署名で部署を新規登録し、設定します\n    - 部署の階層はトップレベルになります\n\n**口座情報について**\n\n口座情報データの構造変更に伴い、bank_accounts パラメータのオブジェクトに `bank_account_setting_id` (= 口座設定ID) の指定が可能になりました。\n\n`bank_account_setting_id` を指定した場合は、以下のような挙動になります。\n\n- `bank_account_setting_id` を含まないパラメータが混在している場合、リクエストエラーとなります\n- 存在しない `bank_account_setting_id` を指定した場合はリクエストエラーとなります\n\n`bank_account_setting_id` を指定しなかった場合は、以下のような挙動になります。\n\n- パラメータの先頭から順にデータを突合し、登録・更新を行います\n- 有効な口座設定の数を越えたパラメータが指定された場合、リクエストエラーとなります\n- `bank_account_setting_id` を含むパラメータが混在している場合、リクエストエラーとなります\n\n**カスタム項目値の設定について**\n\nカスタム項目値の設定は `custom_fields` パラメータで行います。 `value` に設定する値は、テンプレート種別に対応させてください。\n\nJSON 例\n```\n{\n  \"custom_fields\": [\n    {\n      \"template_id\": 1,\n      \"value\": \"string\"\n    },\n    {\n      \"template_id\": 2,\n      \"value\": \"text\"\n    },\n    {\n      \"template_id\": 3,\n      \"value\": 0\n    },\n    {\n      \"template_id\": 4,\n      \"value\": \"2017-03-09\"\n    },\n    {\n      \"template_id\": 5,\n      \"value\": \"enum_element_physical_name\"\n    },\n    {\n      \"template_id\": 6,\n      \"value\": \"/9j/4AAQSkZJRgABAQAASABIAAD/4QCMRXhpZgAATU0AK...\",\n      \"file_name\": \"awesome_image.jpg\"\n    }\n  ]\n}\n```\n\n- ドロップダウン（type: enum）は、ドロップダウン要素の ID か、`physical_name` の設定値を使って指定します\n- ファイルは、データを Base64 エンコードした文字列を指定し、かつ `file_name` にデータの名前を拡張子付きで指定します\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "V1Crews",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV1Crews"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/Crew"
            }
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "postV1Crews"
      },
      "get": {
        "summary": "リストの取得",
        "description": "指定した条件に合致する従業員をリストで取得します。\n\n**雇用形態の表現について**\n\n雇用形態データの構造変更に伴い、`emp_type` 項目の利用は非推奨となりました。\n今後は `employment_type` 項目をご利用ください。\n\nなお、`emp_type` 項目には、登録されている雇用形態が「プリセット雇用形態」の時のみ、その preset_type の値が入ります。出力形式は従来と変更ありません。\n\n**部署の表現について**\n\n部署データの構造変更に伴い、`department` 項目の利用は非推奨となりました。\n今後は `departments` 項目をご利用ください。\n\nなお、`department` 項目には、1番目に登録されている部署について、各階層の名称を `/` で連結した文字列が出力されます。\n\n**カスタム項目の表現について**\n\n`custom_fields` に含まれるカスタム項目設定値は、テンプレート種別によって形式が変わります。\n\n- テキスト（1行）（type: string）\n    - String 型\n- テキスト（複数行）（type: text）\n    - String 型\n- 数値（type: decimal）\n    - Integer 型\n- 日付（type: date）\n    - `yyyy-MM-dd` 形式の String 型\n- ドロップダウン（type: enum）\n    - ドロップダウン項目の ID（String 型）\n    - ドロップダウン項目に `physical_name` が設定されている場合は、その値（String 型）\n- ファイル（type: file）\n    - アップロードしたファイルへの期限付き URL（String 型）\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "emp_code",
            "description": "社員番号",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "emp_type",
            "description": "雇用形態",
            "type": "string",
            "enum": [
              "board_member",
              "full_timer",
              "contract_worker",
              "permatemp",
              "part_timer",
              "outsourcing_contractor",
              "etc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "emp_status",
            "description": "在籍状況",
            "type": "string",
            "enum": [
              "employed",
              "absent",
              "retired"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "gender",
            "description": "戸籍上の性別",
            "type": "string",
            "enum": [
              "male",
              "female"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "並び順",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "entered_at_from",
            "description": "指定した日以降に入社した従業員に絞り込みます",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "entered_at_to",
            "description": "指定した日以前に入社した従業員に絞り込みます",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "q",
            "description": "氏名・ビジネスネーム・部署名・役職名でフリーワード検索をします",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "fields",
            "description": "取得する項目名（カンマ区切り）",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Crew"
              }
            }
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "getV1Crews"
      }
    },
    "/v1/crews/{crew_id}/departments": {
      "delete": {
        "summary": "部署情報の削除",
        "description": "指定した ID の従業員の部署情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "crew_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "従業員"
        ],
        "operationId": "deleteV1CrewsCrewIdDepartments"
      }
    },
    "/v1/crews/{crew_id}/dependents/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の家族情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "crew_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "家族情報"
        ],
        "operationId": "deleteV1CrewsCrewIdDependentsId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の家族情報を部分更新します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"last_name\": \"山田\",\n  \"first_name\": \"五朗\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "crew_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1CrewsCrewIdDependents",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchV1CrewsCrewIdDependents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/Dependent"
            }
          }
        },
        "tags": [
          "家族情報"
        ],
        "operationId": "patchV1CrewsCrewIdDependentsId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の家族情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "家族ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "crew_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/Dependent"
            }
          }
        },
        "tags": [
          "家族情報"
        ],
        "operationId": "getV1CrewsCrewIdDependentsId"
      }
    },
    "/v1/crews/{crew_id}/dependents": {
      "post": {
        "summary": "登録",
        "description": "家族情報を新規登録します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"last_name\": \"山田\",\n  \"first_name\": \"太郎\",\n  \"relation_id\": \"xxxx\",\n  \"gender\": \"male\",\n  \"birth_at\": \"1960-01-01\",\n  \"live_together_type\": \"living_together\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "crew_id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1CrewsCrewIdDependents",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV1CrewsCrewIdDependents"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/Dependent"
            }
          }
        },
        "tags": [
          "家族情報"
        ],
        "operationId": "postV1CrewsCrewIdDependents"
      },
      "get": {
        "summary": "リストの取得",
        "description": "指定した従業員に紐づく家族情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          },
          {
            "in": "path",
            "name": "crew_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dependent"
              }
            }
          }
        },
        "tags": [
          "家族情報"
        ],
        "operationId": "getV1CrewsCrewIdDependents"
      }
    },
    "/v1/crew_custom_field_template_groups/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の従業員カスタム項目グループ情報を削除します。\n\n**グループに属するカスタム項目テンプレート、及びそれらのテンプレートに対して設定されている値がすべて削除されます。**\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplateGroup"
            }
          }
        },
        "tags": [
          "従業員カスタム項目グループ"
        ],
        "operationId": "deleteV1CrewCustomFieldTemplateGroupsId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の従業員カスタム項目グループ情報を部分更新します。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\",\n  \"position\": 0\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "カスタム項目グループ名",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "position",
            "description": "ポジション",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "access_type",
            "description": "アクセス種別",
            "type": "string",
            "enum": [
              "read_and_update",
              "hidden",
              "read_and_update_values"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplateGroup"
            }
          }
        },
        "tags": [
          "従業員カスタム項目グループ"
        ],
        "operationId": "patchV1CrewCustomFieldTemplateGroupsId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の従業員カスタム項目グループ情報を更新します。\n未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\",\n  \"position\": 0\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "カスタム項目グループ名",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "position",
            "description": "ポジション",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "access_type",
            "description": "アクセス種別",
            "type": "string",
            "enum": [
              "read_and_update",
              "hidden",
              "read_and_update_values"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplateGroup"
            }
          }
        },
        "tags": [
          "従業員カスタム項目グループ"
        ],
        "operationId": "putV1CrewCustomFieldTemplateGroupsId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の従業員カスタム項目グループ情報を取得します。\n\n`embed=templates` を指定すると、そのグループに属するカスタム項目テンプレート情報も合わせて取得できます。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "従業員カスタム項目グループID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "templates"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplateGroup"
            }
          }
        },
        "tags": [
          "従業員カスタム項目グループ"
        ],
        "operationId": "getV1CrewCustomFieldTemplateGroupsId"
      }
    },
    "/v1/crew_custom_field_template_groups": {
      "post": {
        "summary": "登録",
        "description": "従業員カスタム項目グループを新規登録します。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\",\n  \"position\": 0\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "カスタム項目グループ名",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "position",
            "description": "ポジション",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "access_type",
            "description": "アクセス種別",
            "type": "string",
            "enum": [
              "read_and_update",
              "hidden",
              "read_and_update_values"
            ],
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplateGroup"
            }
          }
        },
        "tags": [
          "従業員カスタム項目グループ"
        ],
        "operationId": "postV1CrewCustomFieldTemplateGroups"
      },
      "get": {
        "summary": "リスト取得",
        "description": "従業員カスタム項目グループをリストで取得します。\n\n`embed=templates` を指定すると、そのグループに属するカスタム項目テンプレート情報も合わせて取得できます。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "templates"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リスト取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CrewCustomFieldTemplateGroup"
              }
            }
          }
        },
        "tags": [
          "従業員カスタム項目グループ"
        ],
        "operationId": "getV1CrewCustomFieldTemplateGroups"
      }
    },
    "/v1/crew_custom_field_templates/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の従業員カスタム項目情報を削除します。\n\n**テンプレートに対して設定されている値がすべて削除されます。**\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplate"
            }
          }
        },
        "tags": [
          "従業員カスタム項目テンプレート"
        ],
        "operationId": "deleteV1CrewCustomFieldTemplatesId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の従業員カスタム項目情報を部分更新します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"name\": \"身長\",\n  \"type\": \"decimal\",\n  \"scale\": 1\n}\n```\n\nなお、種別がドロップダウン項目（type: enum）の時のみ、 `elements` アトリビュートで要素を指定できます。\n\n既存の elements 要素を更新する場合は `id` を指定してください。\n\nJSON 例\n```\n{\n  \"name\": \"血液型\",\n  \"type\": \"enum\",\n  \"elements\": [\n    { \"id\", 1, \"name\": \"A型\", \"position\": 1 },\n    { \"name\": \"AB型\", \"position\": 3 },\n    ...\n  ]\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1CrewCustomFieldTemplates",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchV1CrewCustomFieldTemplates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplate"
            }
          }
        },
        "tags": [
          "従業員カスタム項目テンプレート"
        ],
        "operationId": "patchV1CrewCustomFieldTemplatesId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の従業員カスタム項目情報を更新します。\n未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"name\": \"身長\",\n  \"type\": \"decimal\",\n  \"scale\": 1\n}\n```\n\nなお、種別がドロップダウン項目（type: enum）の時のみ、 `elements` アトリビュートで要素を指定できます。\n\n既存の elements 要素を更新する場合は `id` を指定してください。この時、指定されなかった既存の要素はすべて削除されます。\n\nJSON 例\n```\n{\n  \"name\": \"血液型\",\n  \"type\": \"enum\",\n  \"elements\": [\n    { \"id\", 1, \"name\": \"A型\", \"position\": 1 },\n    { \"name\": \"AB型\", \"position\": 3 },\n    ...\n  ]\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1CrewCustomFieldTemplates",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV1CrewCustomFieldTemplates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplate"
            }
          }
        },
        "tags": [
          "従業員カスタム項目テンプレート"
        ],
        "operationId": "putV1CrewCustomFieldTemplatesId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の従業員カスタム項目情報を取得します。\n\n`embed=group` を指定すると、属するカスタム項目グループ情報も合わせて取得できます。（ `group_id` が `group` に置き換わります）\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "従業員カスタム項目ID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "group"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplate"
            }
          }
        },
        "tags": [
          "従業員カスタム項目テンプレート"
        ],
        "operationId": "getV1CrewCustomFieldTemplatesId"
      }
    },
    "/v1/crew_custom_field_templates": {
      "post": {
        "summary": "登録",
        "description": "従業員カスタム項目を新規登録します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"name\": \"身長\",\n  \"type\": \"decimal\",\n  \"scale\": 1\n}\n```\n\nなお、種別がドロップダウン項目（type: enum）の時のみ、 `elements` アトリビュートで要素を指定できます。\n\nJSON 例\n```\n{\n  \"name\": \"血液型\",\n  \"type\": \"enum\",\n  \"elements\": [\n    { \"name\": \"A型\", \"position\": 1 },\n    { \"name\": \"B型\", \"position\": 2 },\n    ...\n  ]\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "V1CrewCustomFieldTemplates",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV1CrewCustomFieldTemplates"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/CrewCustomFieldTemplate"
            }
          }
        },
        "tags": [
          "従業員カスタム項目テンプレート"
        ],
        "operationId": "postV1CrewCustomFieldTemplates"
      },
      "get": {
        "summary": "リストの取得",
        "description": "従業員カスタム項目をリストで取得します。\n\n`embed=group` を指定すると、属するカスタム項目グループ情報も合わせて取得できます。（ `group_id` が `group` に置き換わります）\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "group"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CrewCustomFieldTemplate"
              }
            }
          }
        },
        "tags": [
          "従業員カスタム項目テンプレート"
        ],
        "operationId": "getV1CrewCustomFieldTemplates"
      }
    },
    "/v1/departments/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の部署情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          }
        },
        "tags": [
          "部署"
        ],
        "operationId": "deleteV1DepartmentsId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の部署情報を部分更新します。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\",\n  \"position\": 0,\n  \"parent_id\": 0\n}\n```\n\n`name` には `/` を含められません\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1Departments",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchV1Departments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          }
        },
        "tags": [
          "部署"
        ],
        "operationId": "patchV1DepartmentsId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の部署情報を更新します。\n未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\",\n  \"position\": 0,\n  \"parent_id\": 0\n}\n```\n\n`name` には `/` を含められません\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "name": "V1Departments",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV1Departments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          }
        },
        "tags": [
          "部署"
        ],
        "operationId": "putV1DepartmentsId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の部署情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "部署ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          }
        },
        "tags": [
          "部署"
        ],
        "operationId": "getV1DepartmentsId"
      }
    },
    "/v1/departments": {
      "post": {
        "summary": "登録",
        "description": "部署情報を新規登録します。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\",\n  \"position\": 0,\n  \"parent_id\": 0\n}\n```\n\n- `name` には `/` を含められません\n- `position` を指定しなかった場合は、自動で採番されます。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "V1Departments",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV1Departments"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          }
        },
        "tags": [
          "部署"
        ],
        "operationId": "postV1Departments"
      },
      "get": {
        "summary": "リストの取得",
        "description": "部署をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "description": "コード",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "description": "並び順",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Department"
              }
            }
          }
        },
        "tags": [
          "部署"
        ],
        "operationId": "getV1Departments"
      }
    },
    "/v1/employment_types/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の雇用形態情報を削除します。\n\nなお、従業員と紐付いている雇用形態の削除はできません。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)",
            "schema": {
              "$ref": "#/definitions/EmploymentType"
            }
          }
        },
        "tags": [
          "雇用形態"
        ],
        "operationId": "deleteV1EmploymentTypesId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の雇用形態情報を部分更新します。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\"\n}\n```\n\nなお、プリセット雇用形態の更新はできません。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "名称",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/EmploymentType"
            }
          }
        },
        "tags": [
          "雇用形態"
        ],
        "operationId": "patchV1EmploymentTypesId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の雇用形態情報を更新します。\n未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\"\n}\n```\n\nなお、プリセット雇用形態の更新はできません。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "名称",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/EmploymentType"
            }
          }
        },
        "tags": [
          "雇用形態"
        ],
        "operationId": "putV1EmploymentTypesId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の雇用形態情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "雇用形態ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/EmploymentType"
            }
          }
        },
        "tags": [
          "雇用形態"
        ],
        "operationId": "getV1EmploymentTypesId"
      }
    },
    "/v1/employment_types": {
      "post": {
        "summary": "登録",
        "description": "雇用形態情報を新規登録します。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n  \"name\": \"string\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "名称",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/EmploymentType"
            }
          }
        },
        "tags": [
          "雇用形態"
        ],
        "operationId": "postV1EmploymentTypes"
      },
      "get": {
        "summary": "リストの取得",
        "description": "雇用形態をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EmploymentType"
              }
            }
          }
        },
        "tags": [
          "雇用形態"
        ],
        "operationId": "getV1EmploymentTypes"
      }
    },
    "/v1/crew_input_forms/{id}": {
      "get": {
        "summary": "取得",
        "description": "指定した ID の従業員情報収集フォーム情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "従業員情報収集フォームID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/CrewInputForm"
            }
          }
        },
        "tags": [
          "従業員情報収集フォーム"
        ],
        "operationId": "getV1CrewInputFormsId"
      }
    },
    "/v1/crew_input_forms": {
      "get": {
        "summary": "リストの取得",
        "description": "従業員情報収集フォーム情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "mail_format"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CrewInputForm"
              }
            }
          }
        },
        "tags": [
          "従業員情報収集フォーム"
        ],
        "operationId": "getV1CrewInputForms"
      }
    },
    "/v1/mail_formats/{id}": {
      "get": {
        "summary": "取得",
        "description": "指定した ID のメールフォーマット情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "メールフォーマットID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "crew_input_forms"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/MailFormat"
            }
          }
        },
        "tags": [
          "メールフォーマット"
        ],
        "operationId": "getV1MailFormatsId"
      }
    },
    "/v1/mail_formats": {
      "get": {
        "summary": "リストの取得",
        "description": "メールフォーマット情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "crew_input_forms"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MailFormat"
              }
            }
          }
        },
        "tags": [
          "メールフォーマット"
        ],
        "operationId": "getV1MailFormats"
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "取得",
        "description": "指定した ID のユーザ情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ユーザーID",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "crew"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "tags": [
          "ユーザー"
        ],
        "operationId": "getV1UsersId"
      }
    },
    "/v1/users": {
      "get": {
        "summary": "リストの取得",
        "description": "ユーザ情報をリストで取得します。\n\n**招待のステータスについて**\n\nユーザに送信した招待は項目の値によって以下のように判定できます。\n\n- 従業員登録済み\n    - `invitation_answered_at` に値が入っている\n- ユーザ登録済み\n    - `invitation_created_at` が `null` である\n- 招待メール開封済み\n    - `invitation_opened_at` に値が入っている\n- 招待メール送信済み\n    - `invitation_created_at` に値が入っている\n\n**招待メールの送信エラーについて**\n\nメールフィルタやアドレス不備によって送信されない場合は `suppressed_email_logs` にエラー内容が記載されます。\n\n詳しくは [メールが届かない場合の原因は？](https://knowledge.smarthr.jp/hc/ha/articles/360026264593) をご確認ください。\n\n- bounced\n    - バウンス\n- spam_reported\n    - スパムレポート\n- blocked\n    - ブロック\n- malformed\n    - 無効なメール\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "description": "並び順",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "crew"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        },
        "tags": [
          "ユーザー"
        ],
        "operationId": "getV1Users"
      }
    },
    "/v1/biz_establishments": {
      "get": {
        "summary": "リストの取得",
        "description": "事業所情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          },
          {
            "in": "query",
            "name": "embed",
            "description": "埋め込むオブジェクト",
            "type": "string",
            "enum": [
              "soc_ins_owner",
              "lab_ins_owner"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BizEstablishment"
              }
            }
          }
        },
        "tags": [
          "事業所"
        ],
        "operationId": "getV1BizEstablishments"
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の Webhook 情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "Webhook"
        ],
        "operationId": "deleteV1WebhooksId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の Webhook 情報を部分更新します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"crew_created\": false,\n  \"crew_updated\": true\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "url",
            "description": "通知先URL",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "description",
            "description": "説明",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "secret_token",
            "description": "通知に付与される Secret Token",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "crew_created",
            "description": "従業員情報が作成されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_updated",
            "description": "従業員情報が更新されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_deleted",
            "description": "従業員情報が削除されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_imported",
            "description": "従業員情報がインポートされたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_created",
            "description": "家族情報が作成されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_updated",
            "description": "家族情報が更新されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_deleted",
            "description": "家族情報が削除されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_imported",
            "description": "家族情報がインポートされたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "disabled_at",
            "description": "無効化された日時",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        },
        "tags": [
          "Webhook"
        ],
        "operationId": "patchV1WebhooksId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の Webhook 情報を更新します。\n未指定の属性は情報が削除されます。未指定の属性を消したくない場合は「部分更新」をご利用ください。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"url\": \"https://example.com/\",\n  \"crew_created\": true,\n  \"crew_updated\": false,\n  \"crew_deleted\": true,\n  \"crew_imported\": false\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "url",
            "description": "通知先URL",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "description",
            "description": "説明",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "secret_token",
            "description": "通知に付与される Secret Token",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "crew_created",
            "description": "従業員情報が作成されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_updated",
            "description": "従業員情報が更新されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_deleted",
            "description": "従業員情報が削除されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_imported",
            "description": "従業員情報がインポートされたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_created",
            "description": "家族情報が作成されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_updated",
            "description": "家族情報が更新されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_deleted",
            "description": "家族情報が削除されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_imported",
            "description": "家族情報がインポートされたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "disabled_at",
            "description": "無効化された日時",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        },
        "tags": [
          "Webhook"
        ],
        "operationId": "putV1WebhooksId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の Webhook 情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Webhook ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        },
        "tags": [
          "Webhook"
        ],
        "operationId": "getV1WebhooksId"
      }
    },
    "/v1/webhooks": {
      "post": {
        "summary": "登録",
        "description": "Webhook を新規登録します。\n\nBODY SAMPLE と BODY SCHEMA を参考に JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nJSON 例\n```\n{\n  \"url\": \"https://example.com/\",\n  \"crew_created\": true,\n  \"crew_updated\": false,\n  \"crew_deleted\": true,\n  \"crew_imported\": false\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "url",
            "description": "通知先URL",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "description",
            "description": "説明",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "secret_token",
            "description": "通知に付与される Secret Token",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "crew_created",
            "description": "従業員情報が作成されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_updated",
            "description": "従業員情報が更新されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_deleted",
            "description": "従業員情報が削除されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "crew_imported",
            "description": "従業員情報がインポートされたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_created",
            "description": "家族情報が作成されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_updated",
            "description": "家族情報が更新されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_deleted",
            "description": "家族情報が削除されたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "dependent_imported",
            "description": "家族情報がインポートされたときに通知するかどうか",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "disabled_at",
            "description": "無効化された日時",
            "type": "string",
            "format": "date",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/Webhook"
            }
          }
        },
        "tags": [
          "Webhook"
        ],
        "operationId": "postV1Webhooks"
      },
      "get": {
        "summary": "リストの取得",
        "description": "Webhook をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webhook"
              }
            }
          }
        },
        "tags": [
          "Webhook"
        ],
        "operationId": "getV1Webhooks"
      }
    },
    "/v1/dependent_relations": {
      "get": {
        "summary": "リストの取得",
        "description": "続柄のリストを取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter",
            "description": "フィルター条件",
            "type": "string",
            "enum": [
              "spouse"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DependentRelation"
              }
            }
          }
        },
        "tags": [
          "続柄"
        ],
        "operationId": "getV1DependentRelations"
      }
    },
    "/v1/payment_periods/{id}": {
      "get": {
        "summary": "取得",
        "description": "指定した ID の給与支給形態情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "給与支給形態のID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/PaymentPeriod"
            }
          }
        },
        "tags": [
          "給与支給形態"
        ],
        "operationId": "getV1PaymentPeriodsId"
      }
    },
    "/v1/payment_periods": {
      "get": {
        "summary": "リストの取得",
        "description": "給与支給形態をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentPeriod"
              }
            }
          }
        },
        "tags": [
          "給与支給形態"
        ],
        "operationId": "getV1PaymentPeriods"
      }
    },
    "/v1/job_titles/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の役職情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "削除",
            "schema": {
              "$ref": "#/definitions/JobTitle"
            }
          }
        },
        "tags": [
          "役職"
        ],
        "operationId": "deleteV1JobTitlesId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の役職情報を部分更新します。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "役職の名前",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "rank",
            "description": "役職のランク (1 ~ 99999)",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/JobTitle"
            }
          }
        },
        "tags": [
          "役職"
        ],
        "operationId": "patchV1JobTitlesId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の役職情報を更新します。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "役職の名前",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "rank",
            "description": "役職のランク (1 ~ 99999)",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/JobTitle"
            }
          }
        },
        "tags": [
          "役職"
        ],
        "operationId": "putV1JobTitlesId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の役職情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "役職ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/JobTitle"
            }
          }
        },
        "tags": [
          "役職"
        ],
        "operationId": "getV1JobTitlesId"
      }
    },
    "/v1/job_titles": {
      "post": {
        "summary": "作成",
        "description": "役職情報を新規登録します。\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "役職の名前",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "rank",
            "description": "役職のランク (1 ~ 99999)",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "作成",
            "schema": {
              "$ref": "#/definitions/JobTitle"
            }
          }
        },
        "tags": [
          "役職"
        ],
        "operationId": "postV1JobTitles"
      },
      "get": {
        "summary": "リストの取得",
        "description": "役職情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JobTitle"
              }
            }
          }
        },
        "tags": [
          "役職"
        ],
        "operationId": "getV1JobTitles"
      }
    },
    "/v1/bank_account_settings": {
      "get": {
        "summary": "リストの取得",
        "description": "口座情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BankAccountSetting"
              }
            }
          }
        },
        "tags": [
          "口座情報"
        ],
        "operationId": "getV1BankAccountSettings"
      }
    },
    "/v1/tax_withholdings/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の源泉徴収情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "源泉徴収"
        ],
        "operationId": "deleteV1TaxWithholdingsId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の源泉徴収情報を部分更新します。\nなお、確定後の源泉徴収の更新はできません。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n(必要な項目だけにすることで部分更新が可能です）\n\n```\n{\n \"name\": \"string\",\n \"year\": \"R02\",\n \"status\": \"wip\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "名前",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "status",
            "description": "ステータス",
            "type": "string",
            "enum": [
              "wip",
              "fixed"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "year",
            "description": "源泉徴収票に印字される年",
            "type": "string",
            "enum": [
              "H23",
              "H24",
              "H25",
              "H26",
              "H27",
              "H28",
              "H29",
              "H30",
              "H31",
              "R01",
              "R02",
              "R03",
              "R04"
            ],
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/TaxWithholding"
            }
          }
        },
        "tags": [
          "源泉徴収"
        ],
        "operationId": "patchV1TaxWithholdingsId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の源泉徴収情報を更新します。\nなお、確定後の源泉徴収の更新はできません。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n \"name\": \"string\",\n \"year\": \"R02\",\n \"status\": \"wip\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "名前",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "status",
            "description": "ステータス",
            "type": "string",
            "enum": [
              "wip",
              "fixed"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "year",
            "description": "源泉徴収票に印字される年",
            "type": "string",
            "enum": [
              "H23",
              "H24",
              "H25",
              "H26",
              "H27",
              "H28",
              "H29",
              "H30",
              "H31",
              "R01",
              "R02",
              "R03",
              "R04"
            ],
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/TaxWithholding"
            }
          }
        },
        "tags": [
          "源泉徴収"
        ],
        "operationId": "putV1TaxWithholdingsId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の源泉徴収情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "源泉徴収ID",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/TaxWithholding"
            }
          }
        },
        "tags": [
          "源泉徴収"
        ],
        "operationId": "getV1TaxWithholdingsId"
      }
    },
    "/v1/tax_withholdings": {
      "post": {
        "summary": "登録",
        "description": "源泉徴収情報を新規登録します。\nステータスは未確定で登録されます。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\n```\n{\n \"name\": \"string\",\n \"year\": \"R02\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "description": "名前",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "year",
            "description": "源泉徴収票に印字される年",
            "type": "string",
            "enum": [
              "H23",
              "H24",
              "H25",
              "H26",
              "H27",
              "H28",
              "H29",
              "H30",
              "H31",
              "R01",
              "R02",
              "R03",
              "R04"
            ],
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "登録",
            "schema": {
              "$ref": "#/definitions/TaxWithholding"
            }
          }
        },
        "tags": [
          "源泉徴収"
        ],
        "operationId": "postV1TaxWithholdings"
      },
      "get": {
        "summary": "リストの取得",
        "description": "源泉徴収情報をリストで取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page of results to fetch.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of results to return per page.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "リストの取得",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxWithholding"
              }
            }
          }
        },
        "tags": [
          "源泉徴収"
        ],
        "operationId": "getV1TaxWithholdings"
      }
    },
    "/v1/tax_withholdings/{tax_withholding_id}/tax_withholding_slips/{id}": {
      "delete": {
        "summary": "削除",
        "description": "指定した ID の源泉徴収票情報を削除します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "tax_withholding_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "(no content)"
          }
        },
        "tags": [
          "源泉徴収票"
        ],
        "operationId": "deleteV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId"
      },
      "patch": {
        "summary": "部分更新",
        "description": "指定した ID の源泉徴収票情報を部分更新します。\n\nなお、確定後の源泉徴収票の更新はできません。\nファイルで登録されいる場合はファイルを更新できます。\n源泉徴収票の各項目(tax_withholding_slip_attribute)で登録されている場合は各項目を更新できます。\nファイルとtax_withholding_slip_attribute の入れ替え更新をしたい場合は一度削除してから新規登録してください。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nファイルを更新する場合\n\n```\n{\n  \"crew_id\": \"string\",\n  \"file\": {\n    \"file_name\": \"file.pdf\",\n    \"content\": \"base64 content\"\n  }\n}\n```\n\n源泉徴収票の各項目(tax_withholding_slip_attribute)を更新する場合\n\n```\n{\n  \"crew_id\": \"string\",\n  \"crew_address_literal\": \"string\",\n  \"crew_position\": \"string\",\n  \"crew_full_name_yomi\": \"string\",\n  \"crew_full_name\": \"string\",\n  \"slip_type\": \"string\",\n  \"payment_amount\": 123456,\n  \"payment_after_emp_income_deduction_amount\": 1234567,\n  \"payment_after_income_deduction_amount\": 1234567,\n  \"withholding_tax_amount\": 123456,\n  \"spouse_deduction\": \"1\",\n  \"spouse_deduction_sub\": \"1\",\n  \"spouse_deduction_elderly\": \"1\",\n  \"spouse_special_deduction_amount\": 123456,\n  \"specific_dependent_count\": 9,\n  \"specific_dependent_sub_count\": 9,\n  \"elderly_dependent_live_together_count\": 9,\n  \"elderly_dependent_count\": 9,\n  \"elderly_dependent_sub_count\": 9,\n  \"other_dependent_count\": 9,\n  \"other_dependent_sub_count\": 9,\n  \"under_16_years_dependent_count\": 9,\n  \"special_handicapped_dependent_live_together_count\": 9,\n  \"special_handicapped_dependent_count\": 9,\n  \"other_handicapped_dependent_count\": 9,\n  \"non_resident_relative_count\": 9,\n  \"soc_ins_payment_amount\": 123456,\n  \"life_ins_deduction_amount\": 123456,\n  \"earthquake_ins_deduction_amount\": 123456,\n  \"housing_loan_deduction_amount\": 123456,\n  \"memo\": \"string\",\n  \"new_life_ins_payment_amount\": 123456,\n  \"old_life_ins_payment_amount\": 123456,\n  \"care_health_payment_amount\": 123456,\n  \"new_personal_pension_ins_payment_amount\": 123456,\n  \"old_personal_pension_ins_payment_amount\": 123456,\n  \"housing_loan_deduction_count\": 9,\n  \"housing_loan_special_deduction_amount\": 123456,\n  \"housing_loan_1_started_at\": \"1999-09-23\",\n  \"housing_loan_1_deduction_type\": \"XXX\",\n  \"housing_loan_1_deduction_balance_amount\": 123456,\n  \"housing_loan_2_started_at\": \"1999-09-23\",\n  \"housing_loan_2_deduction_type\": \"XXX\",\n  \"housing_loan_2_deduction_balance_amount\": 123456,\n  \"national_pension_payment_amount\": 123456,\n  \"old_long_term_property_ins_payment_amount\": 123456,\n  \"basic_deduction_amount\": 123456,\n  \"income_adjustment_deduction_amount\": 123456,\n  \"spouse_full_name_yomi\": \"string\",\n  \"spouse_full_name\": \"string\",\n  \"spouse_non_resident\": \"1\",\n  \"spouse_total_income\": 123456,\n  \"dependent_1_full_name_yomi\": \"string\",\n  \"dependent_1_full_name\": \"string\",\n  \"dependent_1_non_resident\": 1,\n  \"dependent_under_16_years_1_full_name_yomi\": \"string\",\n  \"dependent_under_16_years_1_full_name\": \"string\",\n  \"dependent_under_16_years_1_non_resident\": 1,\n  \"underage\": \"1\",\n  \"foreigner\": \"1\",\n  \"resigned_by_death\": \"1\",\n  \"disaster_victim\": \"1\",\n  \"column_b\": \"1\",\n  \"special_handicapped\": \"1\",\n  \"other_handicapped\": \"1\",\n  \"widow\": \"1\",\n  \"single_parent\": \"1\",\n  \"working_student\": \"1\",\n  \"mid_term_entered\": \"1\",\n  \"mid_term_resigned\": \"1\",\n  \"mid_term_entered_or_resigned_at\": \"1999-09-23\",\n  \"crew_birth_at\": \"1980-09-23\",\n  \"biz_establishment_address_literal\": \"string\",\n  \"owner_full_name\": \"string\",\n  \"biz_establishment_tel_number\": \"03-3030-3030\"\n}\n```\n\n以下の項目は源泉徴収の印字される年がR01以前の場合に有効な項目になります\n\n```\n{\n  \"special_widow\": \"1\",\n  \"widower\": \"1\"\n}\n```\n\n以下の項目は源泉徴収の印字される年がR02以降の場合に有効な項目になります\n\n```\n{\n  \"basic_deduction_amount\": 12346,\n  \"income_adjustment_deduction_amount\": 123456,\n  \"single_parent\": \"1\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "crew_id",
            "description": "従業員ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "tax_withholding_id",
            "description": "源泉徴収ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "部分更新",
            "schema": {
              "$ref": "#/definitions/TaxWithholdingSlip"
            }
          }
        },
        "tags": [
          "源泉徴収票"
        ],
        "operationId": "patchV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId"
      },
      "put": {
        "summary": "更新",
        "description": "指定した ID の源泉徴収票情報を更新します。\n\nなお、確定後の源泉徴収票の更新はできません。\nファイルで登録されいる場合はファイルを更新できます。\n源泉徴収票の各項目(tax_withholding_slip_attribute)で登録されている場合は各項目を更新できます。\nファイルとtax_withholding_slip_attribute の入れ替え更新をしたい場合は一度削除してから新規登録してください。\n\n以下のスキーマで JSON 文字列を構築してリクエストボディに詰め、リクエストヘッダの `Content-Type` に `application/json` を指定してリクエストしてください。\n\nファイルを更新する場合\n\n```\n{\n  \"crew_id\": \"string\",\n  \"file\": {\n    \"file_name\": \"file.pdf\",\n    \"content\": \"base64 content\"\n  }\n}\n```\n\n源泉徴収票の各項目(tax_withholding_slip_attribute)を更新する場合\n\n```\n{\n  \"crew_id\": \"string\",\n  \"crew_address_literal\": \"string\",\n  \"crew_position\": \"string\",\n  \"crew_full_name_yomi\": \"string\",\n  \"crew_full_name\": \"string\",\n  \"slip_type\": \"string\",\n  \"payment_amount\": 123456,\n  \"payment_after_emp_income_deduction_amount\": 1234567,\n  \"payment_after_income_deduction_amount\": 1234567,\n  \"withholding_tax_amount\": 123456,\n  \"spouse_deduction\": \"1\",\n  \"spouse_deduction_sub\": \"1\",\n  \"spouse_deduction_elderly\": \"1\",\n  \"spouse_special_deduction_amount\": 123456,\n  \"specific_dependent_count\": 9,\n  \"specific_dependent_sub_count\": 9,\n  \"elderly_dependent_live_together_count\": 9,\n  \"elderly_dependent_count\": 9,\n  \"elderly_dependent_sub_count\": 9,\n  \"other_dependent_count\": 9,\n  \"other_dependent_sub_count\": 9,\n  \"under_16_years_dependent_count\": 9,\n  \"special_handicapped_dependent_live_together_count\": 9,\n  \"special_handicapped_dependent_count\": 9,\n  \"other_handicapped_dependent_count\": 9,\n  \"non_resident_relative_count\": 9,\n  \"soc_ins_payment_amount\": 123456,\n  \"life_ins_deduction_amount\": 123456,\n  \"earthquake_ins_deduction_amount\": 123456,\n  \"housing_loan_deduction_amount\": 123456,\n  \"memo\": \"string\",\n  \"new_life_ins_payment_amount\": 123456,\n  \"old_life_ins_payment_amount\": 123456,\n  \"care_health_payment_amount\": 123456,\n  \"new_personal_pension_ins_payment_amount\": 123456,\n  \"old_personal_pension_ins_payment_amount\": 123456,\n  \"housing_loan_deduction_count\": 9,\n  \"housing_loan_special_deduction_amount\": 123456,\n  \"housing_loan_1_started_at\": \"1999-09-23\",\n  \"housing_loan_1_deduction_type\": \"XXX\",\n  \"housing_loan_1_deduction_balance_amount\": 123456,\n  \"housing_loan_2_started_at\": \"1999-09-23\",\n  \"housing_loan_2_deduction_type\": \"XXX\",\n  \"housing_loan_2_deduction_balance_amount\": 123456,\n  \"national_pension_payment_amount\": 123456,\n  \"old_long_term_property_ins_payment_amount\": 123456,\n  \"basic_deduction_amount\": 123456,\n  \"income_adjustment_deduction_amount\": 123456,\n  \"spouse_full_name_yomi\": \"string\",\n  \"spouse_full_name\": \"string\",\n  \"spouse_non_resident\": \"1\",\n  \"spouse_total_income\": 123456,\n  \"dependent_1_full_name_yomi\": \"string\",\n  \"dependent_1_full_name\": \"string\",\n  \"dependent_1_non_resident\": 1,\n  \"dependent_under_16_years_1_full_name_yomi\": \"string\",\n  \"dependent_under_16_years_1_full_name\": \"string\",\n  \"dependent_under_16_years_1_non_resident\": 1,\n  \"underage\": \"1\",\n  \"foreigner\": \"1\",\n  \"resigned_by_death\": \"1\",\n  \"disaster_victim\": \"1\",\n  \"column_b\": \"1\",\n  \"special_handicapped\": \"1\",\n  \"other_handicapped\": \"1\",\n  \"widow\": \"1\",\n  \"single_parent\": \"1\",\n  \"working_student\": \"1\",\n  \"mid_term_entered\": \"1\",\n  \"mid_term_resigned\": \"1\",\n  \"mid_term_entered_or_resigned_at\": \"1999-09-23\",\n  \"crew_birth_at\": \"1980-09-23\",\n  \"biz_establishment_address_literal\": \"string\",\n  \"owner_full_name\": \"string\",\n  \"biz_establishment_tel_number\": \"03-3030-3030\"\n}\n```\n\n以下の項目は源泉徴収の印字される年がR01以前の場合に有効な項目になります\n\n```\n{\n  \"special_widow\": \"1\",\n  \"widower\": \"1\"\n}\n```\n\n以下の項目は源泉徴収の印字される年がR02以降の場合に有効な項目になります\n\n```\n{\n  \"basic_deduction_amount\": 12346,\n  \"income_adjustment_deduction_amount\": 123456,\n  \"single_parent\": \"1\"\n}\n```\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "crew_id",
            "description": "従業員ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "tax_withholding_id",
            "description": "源泉徴収ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "更新",
            "schema": {
              "$ref": "#/definitions/TaxWithholdingSlip"
            }
          }
        },
        "tags": [
          "源泉徴収票"
        ],
        "operationId": "putV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId"
      },
      "get": {
        "summary": "取得",
        "description": "指定した ID の源泉徴収票情報を取得します。\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "源泉徴収票ID",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "tax_withholding_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "取得",
            "schema": {
              "$ref": "#/definitions/TaxWithholdingSlip"
            }
          }
        },
        "tags": [
          "源泉徴収票"
        ],
        "operationId": "getV1TaxWithholdingsTaxWithholdingIdTaxWithholdingSlipsId"
      }
    },
    "/v1/tax_withholdings/{tax_withholding_id}/tax_withholding_slips": {
      "post": {
        "summary": "登録",
[...]
